#coin {
    position: absolute;
    width: 12rem;
    height: 12rem;
    margin: 2rem 0rem;
    transform-style: preserve-3d;
  
  }
  
  #coin div {
    width: 100%;
    height: 100%;
    border: transparent;
    border-radius: 20%;
    backface-visibility: hidden;
    background-size: contain;
    position: absolute;
  }
  



.heads {
    background-image: url("../images/heads1.png");
}

.animate-heads {
  animation: flipHeads 3s;
  animation-fill-mode: forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1800deg);
  }
}

.tails {
    background-image: url("../images/tails1.png");
  transform: rotateY(-180deg);
}

.animate-tails {
  animation: flipTails 3s;
  animation-fill-mode: forwards;
}

@keyframes flipTails {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1620deg);
  }
}